# Import aller Bibliotheken + Frameworks

In [1]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import seaborn as sns
import numpy as np

# 1. Datenimport

In [2]:
# Lade CSV aus Ordner -> TIME SERIES (from John Hopkins University)
data_TS_world = pd.read_csv('COVID-19-time-series-clean-complete.csv')

# 2. Data Processing - TIME SERIES

#### Die Tabelle "data_TS_world" beinhaltet die Zeitreihen aller Länder weltweit -> positive Covid-Fälle + Todesfälle

In [3]:
data_TS_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169617 entries, 0 to 169616
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      169617 non-null  int64
 1   Date            169617 non-null  object
 2   Country/Region  169617 non-null  object
 3   Confirmed       169617 non-null  int64
 4   Deaths          169617 non-null  int64
 5   Recovered       169617 non-null  float64
 6   Active          169617 non-null  float64
 7   New cases       169617 non-null  int64
 8   New deaths      169617 non-null  int64
 9   New recovered   169617 non-null  int64
dtypes: float64(2), int64(6), object(2)
memory usage: 12.9+ MB

## 2.1. Join der beiden Tabellen -> Fälle + Impfungen

In [4]:
# Cases -> Namensänderungen
data_TS_world = data_TS_world.drop(['Unnamed: 0'], axis=1)
data_TS_world = data_TS_world.rename(columns={"Country/Region":"Country_Region", "Confirmed":"Confirmed_Cases", "New cases":"New_Cases", "New deaths":"New_Deaths", "New recovered":"New_Recovered"})

In [5]:
# Daten der Impfungen werden geladen
data_TS_world_doses = pd.read_csv('time_series_covid19_vaccine_global.csv')

# Spalten entfernen
data_TS_world_doses = data_TS_world_doses.drop(["Report_Date_String", "UID"], axis=1)

# filtern nach Zeilen mit "Province_State = NaN" => es handelt sich um die Gesamtzahl/Country/Tag (keine Provinzen!)
data_TS_world_doses = data_TS_world_doses[data_TS_world_doses['Province_State'].isna()]

In [6]:
# Join -> Cases-Tabelle + Impfungen-Tabelle
full_table_world = data_TS_world.merge(
    right = data_TS_world_doses,
    how = 'left',
    on = ['Country_Region', 'Date'],
    indicator=True   # adds a new column "_merge" -> values: left_only OR right_only OR both
)

#full_table_world.shape

#### Die Tabelle "full_table_world" beinhaltet alle Covid- und Impf-Daten.

In [7]:
# Entfernen von Spalten
full_table_world = full_table_world.drop(["People_partially_vaccinated", "People_fully_vaccinated"], axis=1)

In [8]:
# Spalte "Date" wird von String- ins Date-Format umgewandelt
full_table_world['Date'] = pd.to_datetime(full_table_world['Date'])

## 2.2 Join mit Tabelle -> "GDP_and_pop_by_country"
#### Die Tabelle beinhaltet alle Werte zu den Populationen und den BIPs

In [9]:
# Tabelle mit GDP und Populationen laden (vom IWF)
GDP_pop_world = pd.read_csv('GDP_and_pop_by_country.csv')

In [10]:
# diverse Namensanpassungen
GDP_pop_world = GDP_pop_world[{'country', 'imfGDP', 'pop'}]
GDP_pop_world = GDP_pop_world.rename(columns={"imfGDP":"GDP", "pop":"Population", "country":"Country_Region"})

# GDP = BIP vom Internationalen Währungsfond 2019
# Population 2019

GDP_pop_world = GDP_pop_world.replace("United States", "US")
GDP_pop_world = GDP_pop_world.replace("Czech Republic", "Czechia")
GDP_pop_world = GDP_pop_world.replace("South Korea", "Korea, South")

In [11]:
# Check am Beispiel "China"
GDP_pop_world[GDP_pop_world['Country_Region']=="China"]

   Population           GDP Country_Region
1   1448471.4  1.546810e+13          China

In [12]:
# Spalte "_merge" entfernen
full_table_world = full_table_world.drop(["_merge"], axis=1)

# Join mit full_table_world
full_table_world_final = full_table_world.merge(
    right = GDP_pop_world,
    how = 'left',
    on = 'Country_Region',
    indicator=True   # fügt Spalte "_merge" hinzu -> values: left_only OR right_only OR both
)

#full_table_world_final.shape

In [13]:
# Werte der fehlerhaften Länderbezeichnungen ausgeben
test = full_table_world_final[full_table_world_final["_merge"]=="left_only"]

list_wrong_countries = test["Country_Region"].tolist()

myset = set(list_wrong_countries)
mynewlist = list(myset)
mynewlist

['Burma',
 'Korea, North',
 'West Bank and Gaza',
 'Congo (Brazzaville)',
 'Antarctica',
 'Congo (Kinshasa)',
 'Cabo Verde',
 'Kosovo',
 'Holy See',
 "Cote d'Ivoire",
 'Winter Olympics 2022',
 'Taiwan*',
 'Summer Olympics 2020']

# 3. Finale Tabelle erstellen

In [14]:
# Namensänderungen von Spalten
full_table_world_final = full_table_world_final.rename(columns={"Country_Region":"Country"})

# Spalte "_merge" entfernen
full_table_world_final = full_table_world_final.drop(["_merge"], axis=1)

# NaN to 0
full_table_world_final['Population'] = full_table_world_final['Population'].fillna(0)
full_table_world_final['Doses_admin'] = full_table_world_final['Doses_admin'].fillna(0)

# Kommas aufheben
full_table_world_final['Population'] = full_table_world_final['Population'] * 1000

# Casting -> float zu int
#full_table_world_final['Doses_admin'] = full_table_world_final['Doses_admin'].astype(int)
full_table_world_final['Population'] = full_table_world_final['Population'].astype(int)

# Kalukaltionen:
# relative KPIs
full_table_world_final['Confirmed_Cases_rel'] = (full_table_world_final['Confirmed_Cases']*100) / full_table_world_final['Population']
full_table_world_final['Deaths_rel'] = (full_table_world_final['Deaths']*100) / full_table_world_final['Population']

# Doses_admin / 100 Einwohner
full_table_world_final['Doses_admin_per_100'] = full_table_world_final['Doses_admin'] / (full_table_world_final['Population']/100) 

# GDP pro Kopf
full_table_world_final['GDP_pro_Kopf'] = full_table_world_final['GDP'] / full_table_world_final['Population']

In [15]:
dashboard_time_series_complete = full_table_world_final

In [16]:
# Spalten entfernen
dashboard_time_series_complete = dashboard_time_series_complete.drop(["Recovered", "Active", "New_Recovered", "Province_State"], axis=1)

# alle Zeilen mit NaN-Werten entfernen
dashboard_time_series_complete['Population'] = dashboard_time_series_complete['Population'].dropna()
dashboard_time_series_complete = dashboard_time_series_complete.dropna()

In [17]:
dashboard_time_series_complete

,Date,Country,Confirmed_Cases,Deaths,New_Cases,New_Deaths,Doses_admin,Population,GDP,Confirmed_Cases_rel,Deaths_rel,Doses_admin_per_100,GDP_pro_Kopf
0,2020-01-22,Afghanistan,0,0,0,0,0.0,40754388,2.068200e+10,0.000000,0.000000,0.000000,507.479096
1,2020-01-22,Albania,0,0,0,0,0.0,2866374,1.721000e+10,0.000000,0.000000,0.000000,6004.101349
2,2020-01-22,Algeria,0,0,0,0,0.0,45350148,1.930560e+11,0.000000,0.000000,0.000000,4257.009260
3,2020-01-22,Andorra,0,0,0,0,0.0,77463,0.000000e+00,0.000000,0.000000,0.000000,0.000000
4,2020-01-22,Angola,0,0,0,0,0.0,35027343,9.642600e+10,0.000000,0.000000,0.000000,2752.877945
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169610,2022-05-31,Venezuela,523654,5721,36,0,37860994.0,29266991,7.010600e+10,1.789231,0.019548,129.364150,2395.394867
169611,2022-05-31,Vietnam,10719379,43079,1010,1,220779518.0,98953541,2.823720e+11,10.832739,0.043535,223.114318,2853.581561
169614,2022-05-31,Yemen,11822,2149,0,0,836455.0,31154867,3.138500e+10,0.037946,0.006898,2.684829,1007.386743
169615,2022-05-31,Zambia,321779,3987,276,2,3478542.0,19470234,2.527200e+10,1.652671,0.020477,17.865949,1297.981319
169616,2022-05-31,Zimbabwe,252398,5503,306,3,11742863.0,15331428,2.581200e+10,1.646278,0.035894,76.593407,1683.600510

## 3.1. Join mit Tabelle "GNI_world.csv"-> Daten zum GNI (Bruttonationaleinkommen)

In [18]:
# Tabelle mit GNI laden (von World Bank)
GNI_world = pd.read_csv("GNI_world.csv")

In [19]:
# Spalten filtern und umbenennen
GNI_world = GNI_world[{'Country Name', '2019'}]
GNI_world = GNI_world.rename(columns={"Country Name":"Country", "2019":"GNI_2019"})

# Klassifizierung der Länder nach Income_Group (siehe World Bank)

# Konditionen für Klassifizierung nach Income 
conditions = [
    (GNI_world['GNI_2019'] < 1046),
    (GNI_world['GNI_2019'] >= 1046) & (GNI_world['GNI_2019'] <= 4095),
    (GNI_world['GNI_2019'] > 4095) & (GNI_world['GNI_2019'] <= 12695),
    (GNI_world['GNI_2019'] > 12695)
    ]

values = ['Low', 'Lower-middle', 'Upper-middle', 'High']

GNI_world['Income group'] = np.select(conditions, values)

# Tabelle GNI_world ausgeben
GNI_world

        GNI_2019                      Country  Income group
0            NaN                        Aruba             0
1    1535.776856  Africa Eastern and Southern  Lower-middle
2     520.000000                  Afghanistan           Low
3    1669.153323   Africa Western and Central  Lower-middle
4    2970.000000                       Angola  Lower-middle
..           ...                          ...           ...
261  4640.000000                       Kosovo  Upper-middle
262          NaN                  Yemen, Rep.             0
263  6670.000000                 South Africa  Upper-middle
264  1430.000000                       Zambia  Lower-middle
265  1210.000000                     Zimbabwe  Lower-middle

[266 rows x 3 columns]

In [20]:
# Join mit dashboard_time_series_complete
dashboard_time_series_complete = dashboard_time_series_complete.merge(
    right = GNI_world,
    how = 'left',
    on = 'Country',
    indicator=True   # fügt Spalte "_merge" hinzu -> values: left_only OR right_only OR both
)

In [21]:
# NaN to 0
dashboard_time_series_complete['GNI_2019'] = dashboard_time_series_complete['GNI_2019'].fillna(0)
dashboard_time_series_complete['Income group'] = dashboard_time_series_complete['Income group'].fillna(0)

## 3.2. Join mit Tabelle "testing-covid-data.csv"-> Daten über Testungen

In [22]:
# Tabelle mit Testungen laden (aus Our World In Data)
Tests_world = pd.read_csv("testing-covid-data.csv")

In [23]:
# Nummer aller Länder/Regionen in Test-Tabelle
Tests_world['location'].nunique()

244

In [24]:
# Datumsformat ändern
Tests_world["date"] = pd.to_datetime(Tests_world["date"])

In [25]:
# Spalten filtern und umbenennen
Tests_world = Tests_world[{'location', 'date', 'new_tests', 'total_tests'}]
Tests_world = Tests_world.rename(columns={"location":"Country", "date":"Date"})

In [26]:
# Join mit dashboard_time_series_complete
dashboard_time_series_complete = dashboard_time_series_complete.merge(
    right = Tests_world,
    how = 'left',
    on = ['Country', 'Date']
    #indicator=True   # fügt Spalte "_merge" hinzu -> values: left_only OR right_only OR both
)

In [27]:
# NaN to 0
dashboard_time_series_complete['new_tests'] = dashboard_time_series_complete['new_tests'].fillna(0)
dashboard_time_series_complete['total_tests'] = dashboard_time_series_complete['total_tests'].fillna(0)

# Spalte "_merge" entfernen
dashboard_time_series_complete = dashboard_time_series_complete.drop(["_merge"], axis=1)

In [28]:
# Kalukaltionen:
# relative KPIs
dashboard_time_series_complete['total_tests_rel'] = (dashboard_time_series_complete['total_tests']*100) / dashboard_time_series_complete['Population']

## 3.3. Export der finalen Tabelle

In [29]:
# finale Tabelle als CSV speichern
dashboard_time_series_complete.to_csv('dashboard_time_series_complete.csv')

In [30]:
# finale Tabelle ausgeben
dashboard_time_series_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158424 entries, 0 to 158423
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 158424 non-null  datetime64[ns]
 1   Country              158424 non-null  object
 2   Confirmed_Cases      158424 non-null  int64
 3   Deaths               158424 non-null  int64
 4   New_Cases            158424 non-null  int64
 5   New_Deaths           158424 non-null  int64
 6   Doses_admin          158424 non-null  float64
 7   Population           158424 non-null  int32
 8   GDP                  158424 non-null  float64
 9   Confirmed_Cases_rel  158424 non-null  float64
 10  Deaths_rel           158424 non-null  float64
 11  Doses_admin_per_100  158424 non-null  float64
 12  GDP_pro_Kopf         158424 non-null  float64
 13  GNI_2019             158424 non-null  float64
 14  Income group         158424 non-null  object
 15  new_tests            158424 non-null  float64
 16  total_tests          158424 non-null  float64
 17  total_tests_rel      158424 non-null  float64
dtypes: datetime64[ns](1), float64(10), int32(1), int64(4), object(2)
memory usage: 22.4+ MB